
<div class="col-md-8 col-md-offset-2 login">
	<h2>Log in</h2>
	<br>

	<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	  <div class="form-inputs">
	    <%= f.input :email, required: false, autofocus: true %>
	    <%= f.input :password, required: false %>
	    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
	  </div>

	  <div class="form-actions">
	    <%= f.button :submit, "Log in" %>
	  </div> <br>
	<% end %>

	<%= render "devise/shared/links" %>
</div>