<!DOCTYPE html>
<html>
  <head>
    <title>MessageBoard</title>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
     <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
     <%= csrf_meta_tags %>
  </head>

  <body>
   	
   	<nav class="navbar navbar-light" style="background-color: #262626; >
		<div class="container">
			<div class="navbar-header">
				<%= link_to "My Message Board", root_path, class: "navbar-brand" %>
			</div>
			<ul class="navbar-nav nav" style="margin-left: 250px;">
				<li><%= link_to "Sign Up", new_user_registration_path %></li>
				<% if user_signed_in? %>
					<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
				<% else %>	
					<li><%= link_to "Log In", new_user_session_path %></li>
				<% end %>
			</ul>
			<% if user_signed_in? %>
				<p style="margin-right: 50px;"><%= link_to "New Message", new_message_path, class: "navbar-text navbar-link navbar-right" %></p>
			<% end %>
		</div>
	</nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="container">
    	<%= yield %>
    </div>
     

  </body>
</html>
